$darkBlue: #183358;
$red: #e5321b;
$dark: #2f2f2f;

$colorLink: #0b59c4;
$yellow: #fdc023;
$green: #00b669;
$darkGray: #8b98ab;
$mediumGray: #e1e2e5;
$lightGray: #f4f4f4;
$offWhite: #f9fafb;

$primaryBtnColor: #00b669;
$primaryBtnColorHover: #029456;
$secondaryBtnColor: #214f8d;
$secondaryBtnColorHover: #183358;
