$fontSizeBigDisplay: rem(32px);
$fontSizeDisplay: rem(21px);
$fontSizeHeadline: rem(18px);
$fontSizeSubtitle: rem(17px);
$fontSizeBody1: rem(15px);
$fontSizeBody2: rem(14px);
$fontSizeCaption: rem(13px);
$fontSizeSubcaption: rem(12px);

$defaultLetterSpacing: 0.02em;
