.account {
  .account__title {
    font-weight: 500;
    font-size: rem(28px);

    color: $darkBlue;
  }

  .game-history {
    margin-top: rem(46px);
  }

  .account__point-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(30px);

    .point-card {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      background: #fff;
      border-radius: 12px;
      padding: rem(29px 40px 30px);
      height: 120px;
      font-weight: 500;
      text-align: center;
      box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);

      .point-card__number {
        margin-bottom: rem(8px);
        line-height: rem(36px);
      }

      .point-card__info {
        font-size: $fontSizeSubcaption;
        line-height: 154.3%;
      }
    }

    .point-card + .point-card {
      margin-left: rem(26px);
    }
  }

  .account__info {
    background: #fff;
    padding: rem(25px 32px 46px);
    border-radius: 12px;
    box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);

    .account__form {
      &.active {
        .item {
          .account__input {
            pointer-events: all;
            border: 1px solid #aaa;
            border-radius: 6px;
            color: #000;
            width: auto;
          }
        }
      }

      .item {
        .account__input {
          outline: none;
          pointer-events: none;
          border: none;
          font-size: rem(16px);
          text-align: right;
          padding: rem(5px 10px);
        }
      }
    }
  }
}
