.account {
  .account__point-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(30px);

    .point-card {
      display: flex;
      flex-direction: column;

      background: #f4f4f4;
      border-radius: 24px;
      padding: rem(24px 20px 12px);
      height: 120px;
      font-weight: 500;
      text-align: center;

      .point-card__number {
        margin-bottom: rem(8px);
        line-height: rem(36px);
      }

      .point-card__info {
        font-size: $fontSizeSubcaption;
        line-height: 154.3%;
      }
    }

    .point-card + .point-card {
      margin-left: rem(12px);
    }
  }

  .account__info {
    .account__form {
      &.active {
        .item {
          .account__input {
            pointer-events: all;
            border: 1px solid #aaa;
            border-radius: 6px;
            color: #000;
          }
        }
      }

      .item {
        .account__input {
          outline: none;
          pointer-events: none;
          border: none;
          font-size: rem(16px);
          text-align: right;
          padding: rem(5px 10px);
        }
      }
    }
  }
}
