.app-bar {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: rem(0 40px);
  height: rem(100px);
  z-index: 10000;
  background-color: #fff;

  .app-bar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .app-bar__link {
      letter-spacing: $defaultLetterSpacing;
      font-weight: 500;
      font-size: rem(13px);

      color: #8b98ab;
    }

    .app-bar__link + .app-bar__link {
      margin-left: rem(20px);
    }
  }
}
