.app-bar {
  width: 100%;
  background-color: #fff;

  .app-bar__profile {
    display: flex;
    align-items: center;
  }

  .app-bar__profile-icon {
    margin-right: rem(5px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-bar__wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: rem(0 40px);
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.03);

    height: rem(100px);
    z-index: 999;

    .app-bar__links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .app-bar__link {
        display: flex;
        align-items: center;
        letter-spacing: $defaultLetterSpacing;
        font-weight: 500;
        font-size: rem(13px);

        color: #8b98ab;
        transition: color 0.3s;

        &.active,
        &:hover {
          color: darken($color: #8b98ab, $amount: 20);
          .app-bar__link-icon {
            svg {
              path {
                fill: darken($color: #8b98ab, $amount: 20);
              }
            }
          }
        }
      }

      .app-bar__action {
        cursor: pointer;
      }

      .app-bar__signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: rem(15px);
        text-align: center;

        .app-bar__signup-icon {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .app-bar__signup-text {
          font-weight: 500;
          text-transform: uppercase;
          font-size: rem(12px);

          color: #0d2950;
        }
      }

      .app-bar__link-icon {
        margin-right: rem(10px);
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          path {
            transition: fill 0.3s;
          }
        }
      }

      .app-bar__link + .app-bar__link {
        margin-left: rem(20px);
      }
    }
  }

  .app-bar__dropdown {
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);

    width: 100%;
    padding: rem(20px 40px);
  }
}
