.btn {
  font-weight: 500;
  border-radius: 45px;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  background-color: transparent;
  border: 2px solid transparent;

  &:hover {
    cursor: url('/img/cursor_hand.svg'), auto;
  }

  &.btn--primary {
    background-color: $primaryBtnColor;

    &:hover {
      background-color: $primaryBtnColorHover;
    }
  }

  &.btn--link {
    color: $colorLink;
  }

  &.btn--secondary {
    background-color: $secondaryBtnColor;

    &:hover {
      background-color: $secondaryBtnColorHover;
    }
  }

  &.btn--normal {
    font-size: $fontSizeHeadline;
  }

  &.btn--tiny {
    max-width: rem(92px);
    padding: rem(3px 12px);
    font-size: $fontSizeBody1;
    text-transform: uppercase;
  }

  &.btn--style_default {
    color: #000;
  }

  &.btn--ghost {
    color: #0d2950;
    border-color: #0d2950;
    padding: rem(10px 15px);
    text-transform: uppercase;
    font-weight: 500;
    max-width: rem(110px);
    width: 100%;

    &:hover {
      background-color: #0d2950;
      color: #fff;
    }
  }

  &:disabled {
    background-color: #d9d9d9;
    pointer-events: none;
  }
}
