.btn {
  font-weight: 500;
  border-radius: 45px;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  background-color: transparent;

  &.btn--primary {
    background-color: $primaryBtnColor;

    &:hover {
      background-color: $primaryBtnColorHover;
    }
  }

  &.btn--link {
    color: $colorLink;
  }

  &.btn--secondary {
    background-color: $secondaryBtnColor;

    &:hover {
      background-color: $secondaryBtnColorHover;
    }
  }

  &.btn--normal {
    padding: rem(15px 80px);
    font-size: $fontSizeHeadline;
    max-width: rem(226px);
  }

  &.btn--tiny {
    max-width: rem(92px);
    padding: rem(5px 10px);
    font-size: $fontSizeBody1;
    text-transform: uppercase;
  }

  &:disabled {
    background-color: #d9d9d9;
    pointer-events: none;
  }
}
