.field {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  // max-width: rem(340px);
  width: 100%;
  padding: rem(7px 17px);
  border-radius: 6px;
  height: rem(53px);
  background: #f4f4f4;

  &.success {
    border-color: $green;
  }

  &.error {
    border-color: $red80;
  }

  .field__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .field__label {
    display: block;
    line-height: 1;
    font-size: rem(9px);
    color: #8b98ab;
    position: absolute;
    top: 0;
    left: 0;
  }

  .field__input {
    font-family: 'Roboto', sans-serif;
    display: block;
    flex-grow: 1;
    border: none;
    color: #0d2950;
    font-weight: 500;
    background-color: transparent;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: rem(13px);
    outline: none;
    height: 100%;

    &::placeholder {
      font-weight: 500;
      font-size: rem(13px);

      color: #0d2950;
    }
  }

  .field__icon {
    margin-left: rem(24px);
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    &.success {
      path {
        fill: $green;
      }
    }

    &.error {
      path {
        fill: $red80;
      }
    }
  }
}

.field + .field {
  margin-top: rem(8px);
}
