.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .form__progress {
    justify-content: center;
    margin-bottom: rem(28px);
  }

  .form__header {
    text-align: center;
    margin-bottom: rem(35px);

    .form__title {
      font-weight: 500;
      margin-bottom: rem(7px);
    }

    .form__subtitle {
      color: #52504f;
    }
  }

  .form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a.form__learn_more {
    color: $colorLink;
    cursor: pointer;
  }

  .form__btn-action {
    width: 100%;
    display: flex;
    justify-content: center;

    .btn {
      max-width: 250px;
      padding: rem(7px 17px);
      font-size: rem(16px);
    }
  }

  .form__btns {
    display: flex;
    align-items: center;
    justify-content: center;

    .form__btn {
      width: rem(100px);
      height: rem(40px);
      transition: background-color 0.3s;
    }

    .form__btn--skip {
      color: #52504f;
      font-weight: 500;
      font-size: rem(16px);
    }

    .form__btn--next {
      margin-left: rem(20px);
      background-color: #d9d9d9;

      pointer-events: none;

      &.active {
        background-color: $colorLink;
        pointer-events: all;

        &:hover {
          background-color: darken($color: $colorLink, $amount: 20);
        }
      }

      .next-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: rem(8px);
      }
    }

    .form__btn--final {
      &.active {
        background-color: $primaryBtnColor;

        &:hover {
          background-color: $primaryBtnColorHover;
        }
      }
    }
  }
}
