.game-list {
  display: flex;
  flex-direction: column;
  max-width: rem(515px);
  width: 100%;

  .game-list__games {
    margin-top: rem(25px);
  }
}

.game {
  display: flex;
  justify-content: space-between;
  padding: rem(16px 8px);
  height: rem(91px);
  width: 100%;

  .game__content {
    display: flex;
  }

  .game__ball-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
    padding: rem(10px);
    margin-right: rem(10px);
  }

  .game__info {
    font-weight: 500;
  }

  .game__play {
    margin-top: rem(10px);
  }

  .game__price {
    max-width: rem(94px);
  }

  .game__time {
    margin: rem(5px 0);
    color: #8b98ab;
  }

  .game__price,
  .game__time {
    text-transform: uppercase;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #dadadd;
  }
}
