.game-list {
  display: flex;
  flex-direction: column;
  max-height: 205px;
  height: 100%;

  .game-list__games {
    height: 100%;
    margin-top: rem(25px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.game {
  display: flex;
  justify-content: space-between;
  padding: rem(16px 32px 26px);
  width: 100%;

  .game__content {
    display: flex;
  }

  .game__ball-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
    padding: rem(10px);
    margin-right: rem(10px);
  }

  .game__info {
    font-weight: 500;
  }

  .game__play {
    margin-top: rem(10px);
  }

  .game__price {
    max-width: rem(94px);
  }

  .game__time {
    color: #8b98ab;
  }

  .game__price,
  .game__time {
    text-transform: uppercase;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #dadadd;
  }
}
