.link {
  cursor: pointer;

  &.link--underline {
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
  }

  &.link--highlight {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
  }
}
