.title {
  color: $dark;

  &.title_display {
    font-size: $fontSizeDisplay;
  }

  &.title_big-display {
    font-size: $fontSizeBigDisplay;
  }

  &.title_subtitle {
    font-size: $fontSizeSubtitle;
  }

  &.title_headline {
    font-size: $fontSizeHeadline;
  }

  &.title_caption {
    font-size: $fontSizeCaption;
  }

  &.title_subcaption {
    font-size: $fontSizeSubcaption;
  }

  &.title_body1 {
    font-size: $fontSizeBody1;
  }

  &.title_body2 {
    font-size: $fontSizeBody2;
  }
}
